@model Gym.ViewModel.FeeVoucherDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

@*<h1>Fee Voucher</h1>
*@
<div>
    @* <h4>Gym Trainee Details</h4>*@
    <hr />

    <div class="row">
        <div class="col-md-6">
            <div class="p-3 mb-2 bg-primary text-white">Left Side</div>

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="gymTrainee.FirstName" class="control-label"></label>
                    <input asp-for="gymTrainee.FirstName" class="form-control" readonly="true" />
                    <span asp-validation-for="gymTrainee.FirstName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="gymTrainee.LastName" class="control-label"></label>
                    <input asp-for="gymTrainee.LastName" class="form-control" readonly="true" />
                    <span asp-validation-for="gymTrainee.LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="gymTrainee.Address" class="control-label"></label>
                    <input asp-for="gymTrainee.Address" class="form-control" readonly="true" />
                    <span asp-validation-for="gymTrainee.Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="gymTrainee.MonthlyFee" class="control-label"></label>
                    <input asp-for="gymTrainee.MonthlyFee" class="form-control" readonly="true" />
                    <span asp-validation-for="gymTrainee.MonthlyFee" class="text-danger"></span>
                </div>

            </div>



        </div>


        <div class="col-md-6">
            <div class="p-3 mb-2 bg-secondary text-white">Left Side</div>

            <div class="col-md-12">

                <div class="form-group">
                    <label asp-for="monthlyFeeVoucher.FeeDate" class="control-label"></label>
                    <input asp-for="monthlyFeeVoucher.FeeDate" class="form-control" />
                    <span asp-validation-for="monthlyFeeVoucher.FeeDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="monthlyFeeVoucher.Remarks" class="control-label"></label>
                    @* <input asp-for="MonthlyFeeVoucherVM.Remarks" class="form-control" />*@
                    @* <textarea asp-for="MonthlyFeeVoucherVM.Remarks" rows="5" cols="40"></textarea>*@
                    <br />
                    <textarea asp-for="monthlyFeeVoucher.Remarks" rows="9" cols="67"></textarea>
                    <span asp-validation-for="monthlyFeeVoucher.Remarks" class="text-danger"></span>

                </div>


            </div>



        </div>

    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.gymTrainee.TraineeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
